@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
    --maincolor: #0A192F;
    --maintextcolor: #CCD6F6;
    --paragraphcolor: #8892B0;
    --heading-color: #4ec8b1;
}

*{
    margin:0;
    padding:0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

/* #main-container{
    position: relative;
} */
.main-body{
    display: flex;
    justify-content: space-between;

}

.left-container{
    width:15%;
    background-color: var(--maincolor);
    height: 100vh;
    position:fixed;

}
.main-container{
    background-color: var(--maincolor);
    width: 70%;
    height: 100px;
    margin-left: 17.8rem;
}
.right-container{
    background-color: var(--maincolor);
    width: 15%;
    height: 100vh;
    position: fixed;
    margin-left: 85%;
}

.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: wheat;
}
.navbar .menu ul {
    list-style: none;
    display: flex;
    

}
.navbar .menu ul li{
    padding: 10px;
    margin: 3px;
}

.navbar .menu ul li a {
    color: var(--maintextcolor);
    font-size: 16px;
    text-decoration: none;
    padding: 7px;
    letter-spacing: 1px;
    border: 2px solid var(--maincolor);
  

}
.navbar .menu ul li a span{
    color: var(--heading-color);
    font-size: 16px;
}

.navbar .menu ul li a:hover{
    color: var(--heading-color);
    
}
.navbar .menu ul li a:active{
    padding: 7px;
    border: 2px dashed var(--heading-color);
}

